@navbar_icon_color: #04AEDA;
@font_color: #C6DFEE;

@navbar_font_size: 15px;

@content_padding: 15px;
@content_bg_color: #454E59;
@content_text_color: @font_color;
@content_h_color: @navbar_icon_color;

@border_radius: 8px;
@border_width: 2px;
@border_color: @navbar_icon_color;

@footer_size: 60px;
@footer_padding: 10px;
@footer_margin_resize: -5%;
@footer_bg_color: darken(@navbar_icon_color, 30%);
@footer_text_color: @font_color;