@font_color: #C6DFEE;

@navbar_icon_color: #04AEDA;
@navbar_font_size: 15px;

@content_padding: 15px;
@content_bg_color: #454E59;
@content_text_color: @font_color;
@content_h_color: @navbar_icon_color;

@border_radius: 8px;
@border_width: 2px;
@border_color: @navbar_icon_color;

@footer_size: 60px;
@footer_padding: 13px;
@footer_bg_color: darken(@navbar_icon_color, 30%);
@footer_text_color: @font_color;

/* Less Functions */
.boxShadow(){
    box-shadow: -1px 2px 5px 3px rgba(0, 0, 0, 0.7);
}

.thin_border(@color: @border_color) {
    border-radius:@border_radius;
    border-width: @border_width;
    border-style: solid;
    border-color: @color;
}

/* Fonts */
.title-font {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size : 33px;
    font-weight: bold;
}

.content-font {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size : 15px;
}

/* Content Size Calculation */
.content_img_size {
    @media (max-width: 650px) {display: none;}
    @media (min-width: 650px) and (max-width: 992px) {width: 45%;}
    @media (min-width: 992px) {width: 25%;}
}

.content_with_img_size {
    @media (max-width: 650px) {width: 100%;}
    @media (min-width: 650px) and (max-width: 992px) {width: 55%;}
    @media (min-width: 992px) {width: 75%;}
}