@import "constants.less";

.ogame_table_border() {
  border-width: 2px;
  border-style: solid;
  border-color: darken(@content_h_color,10%);
}

span.ogameLbl {
  color: lighten(@content_h_color, 10%);
}

table {
  .boxShadow();
  background-color:@content_bg_color;

  tr {
    .ogame_table_border();

    &.odd {background-color:@content_bg_color;}
    &.even {background-color:darken(@content_bg_color, 5%);}
  }

  th {
    .ogame_table_border();

    padding: 7px;
    color: lighten(@content_h_color, 10%);
  }

  td {
    .ogame_table_border();

    padding: 3px 10px;
    color:@content_text_color;
  }
}

/* Animation when open player detail */
.show-detail-anim {
  animation: show-detail-anim-param 0.8s ease;
  -webkit-animation: show-detail-anim-param 0.8s ease;
}

@keyframes show-detail-anim-param
{
  from {opacity: 0; max-height:0%}
  to {opacity: 1; max-height:100%}
}

@-webkit-keyframes show-detail-anim-param /* Safari and Chrome */
{
  from {opacity: 0; max-height:0%}
  to {opacity: 1; max-height:100%}
}