@(page: String)

@template(page) {
      	
<article class="">
    <h2 class="article-title">Contact</h2>
	<div class="article-content-withimage">
		<p> 
			Rassat.Pierrick@@gmail.com<br/>
			Mobile : +33 6 26 38 53 34<br/>
		</p>
		<p> 
			Rassat Pierrick<br/>
			6 rue Colonel Manhes<br/>
			38400 Saint Martin D'Heres, FRANCE<br/>
		</p>
        <p>
            GitHub : <a tip="GitHub - Kraiss" href="http://github.com/kraiss" class="tip">github.com/kraiss</a><br/>
            LinkedIn : <a tip="LinkedIn - PRa" href="http://www.linkedin.com/profile/view?id=326209392&trk=nav_responsive_tab_profile" class="tip">www.linkedin.com/"Rassat Pierrick"</a>
        </p>
	</div>
	<div class="article-image">
		<img class="image-border" alt="" src='@routes.Assets.at("img/qrcode.png")'/>
	</div>
	<span class="clear-image-layout"/>
</article>

}