@(page: String)

@template(page) {

<!-- EN Section -->
<div ng-show="showEN()">
	<article>
		<h2 class="article-title">Who am I ?</h2>
		<div class="article-content-withimage">
			<p>
				My name is Pierrick Rassat (alias Kraiss). I am a fifth year student in Computer Science 
				at <a tip="IMAG Website" href="http://ufrima.imag.fr">IMAG</a> in the <em>Master II Pro - 
				Génie Informatique</em> course. I achieve an apprenticeship as software development engineer
				for Ticks (<a tip="Actoll Website" href="http://www.actoll.com/">Actoll</a> R&amp;D branch) 
				under the supervision of Bruce Mariage (Project Manager - Actoll) and the consultant 
				Danielle Ziebelin (Researcher - LIG).
			</p>
		</div>
		<div class="article-image">
			<img class="image-border" alt="" src='@routes.Assets.at("img/kraiss.jpg")' />
		</div>
		<span class="clear-image-layout" />
	</article>
</div>
	
<!-- FR Section -->
<div ng-show="showFR()">
	<article>
		<h2 class="article-title">Qui suis-je ?</h2>
		<div class="article-content-withimage">
			<p>
				Je m'appelle Pierrick Rassat (alias Kraiss). Je suis actuellement ma cinquième et dernière 
				année d'étude en informatique à l'<a tip="IMAG" href="http://ufrima.imag.fr">IMAG</a> dans 
				la filière Master II Pro. - Génie Informatique. Je réalise cette année en apprentissage au 
				sein de la société Ticks (filière R&amp;D d'<a tip="Actoll" href="http://www.actoll.com/">
				Actoll</a>) en tant qu'apprenti ingénieur de développement logiciel sous la supervision de 
				mon maitre de stage Bruce Mariage (Chef de Projet - Actoll) et de ma tutrice Danielle 
				Ziebelin (Enseignante-Chercheuse - LIG).
			</p>
		</div>
		<div class="article-image">
			<img class="image-border" alt="" src='@routes.Assets.at("img/kraiss.jpg")' />
		</div>
		<span class="clear-image-layout" />
	</article>
</div>
}
