@(page: String)

@template(page) {

<article ng-show="showEN()">
    <h2>Who am I ?</h2>
    <img alt="" src='@routes.Assets.at("img/kraiss.jpg")' />
    <p>My name is Rassat Pierrick (alias Kraiss). I am a fifth year student at <a title="IMAG" href="http://ufrima.imag.fr">IMAG</a> in Computer Science.<p></p>
</article>
	
<article ng-show="showFR()">
    <h2>Qui suis-je ?</h2>
    <img alt="" src='@routes.Assets.at("img/kraiss.jpg")' />
	<p>Je m'appelle Rassat Pierrick (alias Kraiss). Je suis actuellement ma cinquième année d'étude en informatique à l'<a title="IMAG" href="http://ufrima.imag.fr">IMAG</a> dans la filière M2P GI.</p>
	<p></p>
</article>
	
<article class="">
	<h2>Sorry, my website is still under construction</h2>
	<p>The website is incomplete but works, you can already use the servlets, links, ... </p>
	<p>In progress : <meter value="45" min="0" max="100" low="40" high="70" optimum="80">30%</meter></p> 
</article>
}
