@(page: String)

@template(page) {

    <div ng-controller="jlogCtrl">
        <article ng-repeat="a in articles">

            <h2 ng-show="showEN()" class="article-title">{{a.title.en}}</h2>
            <h2 ng-show="showFR()" class="article-title">{{a.title.fr}}</h2>


            <div ng-show="showEN()" ng-class="a.image == null ? 'article-content' : 'article-content-withimage'">
                <p><iframe>{{a.article.en}}</iframe></p>
            </div>

            <div ng-show="showFR()" ng-class="a.image == null ? 'article-content' : 'article-content-withimage'">
                <p>{{a.article.fr}}</p>
            </div>

            <div ng-if="a.image != null" class="article-image">
                <img class="image-border" alt="" src='{{a.image}}' />
            </div>

            <span class="clear-image-layout" />
        </article>
    </div>

}
