@(page: String)

@template(page) {

<article ng-controller="ogameCtrl" class="" >
    <h2 id="Index" class="article-title">Résumé et Liens</h2>
    <div class="article-content">
        Salut à vous amis pirates, ici Kraiss,
        <br><br>
        J'ai épluché toutes les données que j'avais sur les UNSC pour que l'on soit un peu plus fixé sur ce qu'ils ont.
        <br><br>
        Pour ceux qui ne veulent pas le détail, un petit résumé :
        <ul>
            <li>Ils sont en général plus mineur que raideur mais quelqu'un ont déjà de belles flottes </li>
            <li>tout leur joueurs ne sont pas investis dans la guerre. (je ne suis donc permis d'analyser que ceux qui ont ou qui produise de la flotte ;) )</li>
        </ul>

        <br>
        <h4>Les outils que je vous conseille :</h4>
        <ul>
            <li><a tip="Infuza UNSC" href="http://www.infuza.com/fr/ogame.fr/Ursa/Alliances/357066">Infuza de l'U-N-S-C</a> : Infuza est un site qui permet d'afficher les stats par semaine d'un joueur ou d'un alliance.</li>
            <li><a tip="Cartographie" href="http://www.ogametools.com/recherche-ogame.html">Outil de Cartographie</a> : Penser completer les champs, notamment le champs 'univers'</li>
            <li><a tip="Simulateur" href="http://www.ogametools.com/simulateur-combat.html">Simulateur de Combat</a> : Gère les attaque et defense groupée. Pour avoir les vrais cdr cliquer sur paramètre et mettre les débris de défense a 30. </li>
        </ul>

        <br>
        <h4>Leurs joueurs classé par flotte :</h4>
        <ol>
            <li ng-repeat="p in player" class="">
                <span class="ogameLbl">{{p.name}}</span>
                - <a tip="Infuza de {{p.name}}" href="http://www.infuza.com/fr/ogame.fr/Ursa/Players/{{p.infuza}}">Son Infuza</a>
                - <a ng-show="p.infoSupp" tip="Détail de {{p.name}}" ng-click="showDetail(p.id)">Voir Detail</a>

                <div ng-show="p.showDetail" style="padding-left:20px">
                    Sa flotte
                    <ul>
                        <li><span class="ogameLbl">Petit Transp :</span>{{p.fleet.small}}</li>
                        <li><span class="ogameLbl">Grand Transp :</span>{{p.fleet.large}}</li>
                        <li><span class="ogameLbl">Chasseur léger :</span>{{p.fleet.light}}</li>
                        <li><span class="ogameLbl">Chasseur lourd :</span>{{p.fleet.heavy}}</li>
                        <li><span class="ogameLbl">Croiseurs :</span>{{p.fleet.cruiser}}</li>
                        <li><span class="ogameLbl">Vaisseau Bat :</span>{{p.fleet.battleship}}</li>
                        <li><span class="ogameLbl">Recycleur :</span>{{p.fleet.recycler}}</li>
                        <li><span class="ogameLbl">Bombardier :</span>{{p.fleet.bomber}}</li>
                        <li><span class="ogameLbl">Destructeur :</span>{{p.fleet.destroyer}}</li>
                        <li><span class="ogameLbl">Traqueur :</span>{{p.fleet.traqueur}}</li>
                    </ul>
                </div>
            </li>
        </ol>
    </div>
</article>

}