@(page: String)

@template(page) {

<article ng-controller="ogameCtrl" class="" >
    <h2 id="Index" class="article-title">Résumé et Liens</h2>
    <div class="article-content">
        Salut à vous amis pirates, ici Kraiss,
        <br>
        Comme vous le savez, nous sommes en guerre contre l'U-N-S-C.
        Pour que nous soyons plus efficace, j'ai rassemblé ici le plus de données possibles sur eux.
        Si vous en avez d'autres, n'hésitez pas à les transmettre sur le canal de communication intra guilde ;)

        <br>
        La page du forum où a été faite la déclaration de guerre, c'est
        <a tip="Déclaration de Guerre" href="http://board.fr.ogame.gameforge.com/board95-la-vie-des-univers/board1844-univers-taurus-zagadra/board1878-ursa/board1886-guerres/1096465-d-claration-de-guerre-u-n-s-c-vs-pirates/" class="tip">ici</a>.

        <br>
        <h4>Les outils que je vous conseille :</h4>
        <ul>
            <li><a tip="Infuza UNSC" href="http://www.infuza.com/fr/ogame.fr/Ursa/Alliances/357066" class="tip">Infuza de l'U-N-S-C</a> : Infuza est un site qui permet d'afficher les stats par semaine d'un joueur ou d'un alliance.</li>
            <li><a tip="Cartographie" href="http://www.ogametools.com/recherche-ogame.html" class="tip">Outil de Cartographie</a> : Penser completer les champs, notamment le champs 'univers'</li>
            <li><a tip="Simulateur" href="http://www.ogametools.com/simulateur-combat.html" class="tip">Simulateur de Combat</a> : Gère les attaque et defense groupée. Pour avoir les vrais cdr cliquer sur paramètre et mettre les débris de défense a 30. </li>
            <li><a tip="Simulateur" href="http://fleetsize.altervista.org/" class="tip">Calculateur de Retrait Tactique</a> : Penser a selectionner la langue ;)</li>

        </ul>

        <br>
        <h4>Leurs joueurs classé par flotte :</h4>
        <br>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="even text-center">
                    <th></th>
                    <th>Joueur</th>
                    <th>Classement Général</th>
                    <th>Classement Militaire</th>
                    <th>Points Militaire</th>
                    <th>Lien Infuza</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in player" class="pointer" ng-click="switchDetail($index)" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td ng-if="p.showDetail==false">{{$index}}</td>
                    <td ng-if="p.showDetail==false">{{p.name}}</td>
                    <td ng-if="p.showDetail==false">{{p.rank}}</td>
                    <td ng-if="p.showDetail==false">{{p.fleet.rank}}</td>
                    <td ng-if="p.showDetail==false">{{p.fleet.size}} k</td>
                    <td ng-if="p.showDetail==false"><a tip="Infuza de {{p.name}}" href="http://www.infuza.com/fr/ogame.fr/Ursa/Players/{{p.infuza}}" class="tip">Son Infuza</a></td>
                    <td ng-if="p.showDetail" colspan="6" class="show-detail-anim">
                        <div class="row">
                            <span class="ogameLbl col-lg-3 col-md-4 col-xs-11">Nom du Joueur : </span>
                            <span class="col-lg-8 col-md-7 col-xs-11">{{p.name}}</span>

                            <span class="ogameLbl col-lg-3 col-md-4 col-xs-11">Place au Classement Général : </span>
                            <span class="col-lg-8 col-md-7 col-xs-11">{{p.rank}}</span>

                            <span class="ogameLbl col-lg-3 col-md-4 col-xs-11">Place au Classement Militaire : </span>
                            <span class="col-lg-8 col-md-7 col-xs-11">{{p.fleet.rank}} (avec {{p.fleet.size}}k points)</span>

                            <span class="ogameLbl col-lg-3 col-md-4 col-xs-11">Armes, Bouclier, Coques : </span>
                            <span class="col-lg-8 col-md-7 col-xs-11"> {{p.tech.weapon}}, {{p.tech.shield}}, {{p.tech.shell}}</span>
                        </div>

                        <br>
                        <a tip="Infuza de {{p.name}}" href="http://www.infuza.com/fr/ogame.fr/Ursa/Players/{{p.infuza}}" class="tip">
                            Consulter le rapport Infuza de {{p.name}}
                        </a>
                        <br><br>

                        <div class="row" style="margin-bottom: 10px;">
                            <h4 class="ogameLbl col-lg-11 col-md-11 col-xs-11">Dernière Flotte Connue :</h4>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Petit Transp :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.small}}</span>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Grand Transp :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.large}}</span>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Chasseur léger :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.light}}</span>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Chasseur lourd :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.heavy}}</span>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Croiseurs :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.cruiser}}</span>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Vaisseau Bat :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.battleship}}</span>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Recycleur :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.recycler}}</span>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Bombardier :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.bomber}}</span>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Destructeur :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.destroyer}}</span>

                            <span class="ogameLbl col-lg-3 col-md-3 col-xs-4">Traqueur :</span>
                            <span class="col-lg-3 col-md-3 col-xs-8">{{p.fleet.traqueur}}</span>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>

}