@(page: String)

@template(page) {

<article ng-controller="ogameCtrl" class="" >
    <h2 id="Index" class="article-title">Résumé et Liens</h2>
    <div class="article-content">
        Salut à vous amis pirates, ici Kraiss,
        <br>
        Comme vous le savez, nous sommes en guerre contre l'U-N-S-C.
        Pour que nous soyons plus efficace, j'ai rassemblé ici le plus de données possibles sur eux.
        Si vous en avez d'autres, n'hésitez pas à les transmettre sur le canal de communication intra guilde ;)

        <br>
        La page du forum où a été faite la déclaration de guerre, c'est
        <a tip="Déclaration de Guerre" href="http://board.fr.ogame.gameforge.com/board95-la-vie-des-univers/board1844-univers-taurus-zagadra/board1878-ursa/board1886-guerres/1096465-d-claration-de-guerre-u-n-s-c-vs-pirates/" class="tip">ici</a>.

        <br>
        <h4>Les outils que je vous conseille :</h4>
        <ul>
            <li><a tip="Infuza UNSC" href="http://www.infuza.com/fr/ogame.fr/Ursa/Alliances/357066" class="tip">Infuza de l'U-N-S-C</a> : Infuza est un site qui permet d'afficher les stats par semaine d'un joueur ou d'un alliance.</li>
            <li><a tip="Cartographie" href="http://www.ogametools.com/recherche-ogame.html" class="tip">Outil de Cartographie</a> : Penser completer les champs, notamment le champs 'univers'</li>
            <li><a tip="Simulateur" href="http://www.ogametools.com/simulateur-combat.html" class="tip">Simulateur de Combat</a> : Gère les attaque et defense groupée. Pour avoir les vrais cdr cliquer sur paramètre et mettre les débris de défense a 30. </li>
            <li><a tip="Simulateur" href="http://fleetsize.altervista.org/" class="tip">Calculateur de Retrait Tactique</a> : Penser a selectionner la langue ;)</li>

        </ul>

        <br>
        <h4>Leurs joueurs classé par flotte :</h4>
        <br>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="even text-center">
                    <th></th>
                    <th>Joueur</th>
                    <th>Classement Général</th>
                    <th>Classement Militaire</th>
                    <th>Points Militaire</th>
                    <th>Lien Infuza</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in player" class="pointer" ng-click="switchDetail($index)" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td ng-if="p.showDetail==false">{{$index}}</td>
                    <td ng-if="p.showDetail==false">{{p.name}}</td>
                    <td ng-if="p.showDetail==false">{{p.rank}}</td>
                    <td ng-if="p.showDetail==false">{{p.fleet.rank}}</td>
                    <td ng-if="p.showDetail==false">{{p.fleet.size}} k</td>
                    <td ng-if="p.showDetail==false"><a tip="Infuza de {{p.name}}" href="http://www.infuza.com/fr/ogame.fr/Ursa/Players/{{p.infuza}}" class="tip">Son Infuza</a></td>
                    <td ng-if="p.showDetail" colspan="6" class="show-detail-anim">
                        <span class="ogameLbl">{{p.name}}</span> ({{p.rank}})
                        - <a tip="Infuza de {{p.name}}" href="http://www.infuza.com/fr/ogame.fr/Ursa/Players/{{p.infuza}}" class="tip">Son Infuza</a>

                        <div ng-show="p.showDetail" style="padding-left:20px">
                            Points de flotte : {{p.fleet.size}}k
                            <br>
                            Classement flotte : {{p.fleet.rank}}
                            <br>
                            Techno de combat (Armes, bouclier, coque) : ({{p.tech.weapon}}, {{p.tech.shield}}, {{p.tech.shell}})
                            <br>
                            Sa dernière flotte connue
                            <ul>
                                <li><span class="ogameLbl">Petit Transp :</span>{{p.fleet.small}}</li>
                                <li><span class="ogameLbl">Grand Transp :</span>{{p.fleet.large}}</li>
                                <li><span class="ogameLbl">Chasseur léger :</span>{{p.fleet.light}}</li>
                                <li><span class="ogameLbl">Chasseur lourd :</span>{{p.fleet.heavy}}</li>
                                <li><span class="ogameLbl">Croiseurs :</span>{{p.fleet.cruiser}}</li>
                                <li><span class="ogameLbl">Vaisseau Bat :</span>{{p.fleet.battleship}}</li>
                                <li><span class="ogameLbl">Recycleur :</span>{{p.fleet.recycler}}</li>
                                <li><span class="ogameLbl">Bombardier :</span>{{p.fleet.bomber}}</li>
                                <li><span class="ogameLbl">Destructeur :</span>{{p.fleet.destroyer}}</li>
                                <li><span class="ogameLbl">Traqueur :</span>{{p.fleet.traqueur}}</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>

}